streamlit==1.37.0
spacy==3.7.4
pymupdf
pillow
python-pptx==0.6.21
python-docx==0.8.11
thinc==8.2.4
blis==0.7.9
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
