streamlit==1.37.0
spacy==3.8.4
pymupdf
pillow
python-pptx==0.6.21
python-docx==0.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
